NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBKvvkGnwCIIHE25_O5bSOsvVXXzt64kIo
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=varta-2f722.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=varta-2f722
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=varta-2f722.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=901856108485
NEXT_PUBLIC_FIREBASE_APP_ID=1:901856108485:web:d7e2988fe5d0a71d9c35ac
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-KJFMFTL8YS
